<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>卡口分布查询</title>

	<link href="{{ url_for('static', filename='css/tgs.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-ui-1.11.2/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery-ui-timepicker-addon.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui-1.11.2/jquery-ui.min.js') }}"></script>

    <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='cal-heatmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='zh_cn.js') }}"></script>
    <link href="{{ url_for('static', filename='css/cal-heatmap.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='jquery-ui-timepicker-addon.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui-timepicker-zh-CN.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.4/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='echarts-2.2.0/build/dist/echarts.js') }}"></script>

    <script src="http://api.map.baidu.com/api?v=2.0&ak=Dafb6wSsEnWv8QnT3TOcAfk7"></script>
    <script src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>

</head>
<body>
	<div class="container" style="height:100%;">
        <div id="mbox" class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- {% block message %}
                {% include "message.html"%}
                {% endblock %} -->
            </div>
        </div>

		<div id="row1" class="row">
			<div id="tgs-chart" style="height:100%; width:100%;" class="col-md-12"></div>
			<!-- <div class="col-md-4" style="background-color: red;">col2</div> -->
		</div>

		<div id="row2" class="row" style="padding-top: 10px;">
			<div id="container-map" class="col-md-9" style="background-color: lightgray;">
				<div id="container-map"></div>
			</div>
			<div class="col-md-3">
				{% block operation %}
				{% include "options.html"%}
				{% endblock %}
			</div>
		</div>
	</div>

	<script>
		var map;		// 地图对象
		var tgsinfo;	// tgs info
		var infowin;
		var tgs_markers;
		var n_avail;
		var n_unavail;
		var n_markers = 0;
		var adj = [];

		var ak = "Dafb6wSsEnWv8QnT3TOcAfk7";

        // message box
        var mbox = function(cont) {

            var mbox = $('<div></div>');
            mbox.attr('class','alert alert-warning fade in');

            var btn = $('<button></button>');
            btn.attr('type','button');
            btn.attr('class','close');
            btn.attr('data-dismiss','alert');
            btn.html('&times;');
            btn.appendTo(mbox);

            var content = $('<div></div>');
            content.html("<strong>"+cont+"</strong>");
            content.css('text-align','center');
            content.appendTo(mbox);

            $('#mbox div').append(mbox);

            // msg.alert();
            mbox.fadeTo(2500, 500).slideUp(500, function() {
               mbox.alert('close');      // close the message box.
            });

            return;
        }
	</script>

	<script>
		$('#row1').css("height", "0%");
		$('#row2').css("height", "100%");

		map = new BMap.Map("container-map", {enableMapClick:false});
		// map.setCurrentCity("beijing");
		// map.setZoom(13);
		// var point = new BMap.Point(116.504, 39.915);  // 创建点坐标
		// map.centerAndZoom("北京", 15);                 // 始化地图，设置中心点坐标和地图级别

		map.addControl(new BMap.NavigationControl());
		map.addControl(new BMap.ScaleControl());
		map.enableScrollWheelZoom();
		// map.addControl(new BMap.MapTypeControl());

		// 请求卡点信息
		$.getJSON("/request-tgs-info", {}, function(json) {

			tgsinfo = json.data;

			n_avail = 0;
			n_unavail = 0;
			for (var e in tgsinfo) {
				if (tgsinfo[e]['avail'])
					n_avail += 1;
				else
					n_unavail += 1;
			}

			map.centerAndZoom(new BMap.Point(json.center[0],json.center[1]), 13);

			tgs_markers = [];
            for (var e in tgsinfo) {

                var icon_path;
                if (tgsinfo[e].avail)
                    icon_path = "{{ url_for('static', filename='m1.png') }}";
                else
                    icon_path = "{{ url_for('static', filename='m7.png') }}";

                var icon = new BMap.Icon(icon_path,
                                     new BMap.Size(18, 18));
                var _marker = new BMap.Marker(new BMap.Point(tgsinfo[e]['lng'],tgsinfo[e]['lat']),
                                            {icon: icon});

                var info = [];
                info.push("<b>卡点编号</b>："+tgsinfo[e]['kkid']);
                info.push("<b>卡点名称</b>："+tgsinfo[e]['kkmc']);
                info.push("<b>云编号</b>："+tgsinfo[e]['cid']);

                var _info = info.join("<br/>");
                tgs_markers.push({
                    cid: e,
                    marker: _marker,
                    info: _info,
                    avail: tgsinfo[e].avail,
                });

            }
		});



		// var marker = new BMap.Marker(point);        // 创建标注
		// map.addOverlay(marker);                     // 将标注添加到地图中
		// marker.addEventListener("click", function(){
		//  	alert("您点击了哥!");
		// });

		// marker.addEventListener("mouseover", function(){
		//  	console.log("您进入了哥的地盘!");
		//  	map.openInfoWindow(infoWindow, this.getPosition());      // 打开信息窗口
		// });
		// marker.addEventListener("mouseout", function(){
		//  	console.log("您离开了哥的地盘!");
		//  	map.closeInfoWindow();
		// });

		// window.setTimeout(function(){
		//     map.panTo(point);
		// }, 3000);
	</script>

    <script src="{{ url_for('static', filename='eControl.js') }}"></script>
</body>
</html>
