
<div class="container-fluid">

    <div class="row" style="margin-bottom: 35px;">
        <div class="col-md-6 col-md-offset-3">
            <button id="btn-clear" type="button" class="btn btn-info">重置地图</button>
        </div>
    </div>

    <div class="row" style="margin-bottom: 35px;">
        <div class="col-md-3"><strong>卡口</strong></div>

        <div class="col-md-9">
            <div id="tgs-select" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="options" id="tgs-all" value="tgs-all">全部
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="tgs-avail" value="tgs-avail">可用
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="tgs-unavail" value="tgs-unavail">无效
                </label>
            </div>
        </div>
    </div>

    <!-- <form role="form"> -->
        <div class="form-group">
            <div id="od-select" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options" id="o" value="o">出行(O)
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="d" value="d">到达(D)
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="name">时间范围</label>
            <input type="text" id="timerange" class="form-control datetime-picker" placeholder="时间范围，10分钟粒度">
        </div>

     <!--    <div class="form-group">
            <label class="sr-only" for="name">结束时间</label>
            <input type="text" id="endtime" class="form-control datetime-picker" placeholder="结束时间">
        </div> -->

    <div class="row" style="margin-bottom: 35px;">
        <div class="col-md-4">
            <button id="btn-submit" type="submit" class="btn btn-primary">查询</button>
        </div>

        <div class="col-md-4">
            <button id="btn-remove" type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                隐藏统计图
            </button>
        </div>
    </div>

    <!-- </form> -->

    <div class="row" style="margin-bottom: 35px;">
        <div class="col-md-12 col-md-offset-0">
            <div class="input-group">
                <input id="input-numb" type="text" class="form-control" placeholder="输入车牌或卡口查询..." style="z-index: 0;">
                <span class="input-group-btn">
                    <button id="query-vehicle" class="btn btn-default" type="submit">GO</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-0">
            <div id="cal-heatmap"></div>
        </div>
        <div class="col-md-4 col-md-offset-0">
            <div id="placeholder"></div>
        </div>
    </div>

</div>

<script>
    od = "o";

    var opts = {
        width : 250,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
        title : "卡口详细信息",  // 信息窗口标题
        enableMessage: false
    }
    infowin = new BMap.InfoWindow("", opts);

    $('#btn-remove').hide();
    $('#btn-remove').click(function(event) {
        /* Act on the event */
        chart.clear();

        $('#row1').animate({
            height:"0"
        }, "slow");
        // $('#row1').slideUp(700)
        $('#tgs-chart').css("height","0");
        $('#tgs-chart').css("width","0");

        $('#btn-remove').hide();
    });

    function eHandler(param) {

        if (param.type == "click") {
            cid = param.name;
            tgs = tgsinfo[param.name];

            var indx;
            for (var i in tgs_markers) {
                if (tgs_markers[i].cid == cid) {
                    indx = i;
                }
            }

            console.log(param.name+": "+param.value+" is "+tgs['kkmc']);

            var p0 = new BMap.Point(tgs['lng'], tgs['lat']);
            map.centerAndZoom(p0, 13);

            if (typeof(marker) != "undefined")
                map.removeOverlay(marker);

            infowin.setContent(tgs_markers[indx].info);
            map.openInfoWindow(infowin, p0);

            marker = new BMap.Marker(p0, {
                offset: new BMap.Size(-17,20)
            });        // 创建标注
            map.addOverlay(marker);                     // 将标注添加到地图中
            marker.addEventListener("click", function(){

                 infowin.setContent(tgs_markers[indx].info);
                 map.openInfoWindow(infowin,this.getPosition());
            });
        }
        else {

        }

        console.log(param);
    }

    function draw_callback(ec) {

        if (typeof(chart) != "undefined") {
            chart.clear();
        }

        chart = ec.init(document.getElementById("tgs-chart"));     // 为dom对象

        var ecConfig = require('echarts/config');
        chart.on(ecConfig.EVENT.CLICK, eHandler);
        // chart.on(ecConfig.EVENT.DBLCLICK, eHandler);
        // chart.on(ecConfig.EVENT.HOVER, eHandler);
        // chart.on(ecConfig.EVENT.DATA_ZOOM, eHandler);

        // var grpName = ['O-出行','D-到达'];
        var options = {
            title : {
                text: '卡口OD分布情况',
                // subtext: '纯属虚构'
            },
            tooltip : {
                trigger: 'axis'
            },
            dataZoom : {
                show : true,
                realtime : true,
                start : 0,
                end : 15
            },
            // legend: {
            //     data: grpName
            // },
            // calculable : true,
            yAxis : [
                {
                    name: '车次',
                    type : 'value',
                    boundaryGap : [0, 0.01],
                    // axisLabel : {
                    //     formatter: '{value} 车次'
                    // }
                }
            ],
            xAxis : [
                {
                    name: '卡口云编号',
                    type : 'category',
                    data : tgs,
                    axisLabel: {
                        rotate: 0
                    }
                }
            ],
            series : [
                {
                    name: "出行车次",
                    type: 'bar',
                    data: count,
                    markPoint : {
                        data : [
                            {type : 'min', name : '最低出行车次'},
                            {type : 'max', name : '最高出行车次'}
                        ],
                        effect: {
                            color: 'red'
                        }
                    },
                },
            ]
        };

        chart.setOption(options);
    };

    var draw_adj = function(main,up_down_stream) {

        var loc = new BMap.Point(tgsinfo[main]['lng'],
                                 tgsinfo[main]['lat'])
        map.panTo(loc);

        (function () {

            var indx;
            for (var i in tgs_markers) {
                if (tgs_markers[i].cid == main) {
                    indx = i;
                }
            }

            var marker = jQuery.extend(true,{},tgs_markers[indx].marker);
            marker.setIcon(new BMap.Icon("{{ url_for('static', filename='query.png') }}",
                                new BMap.Size(36,36)));
            marker.setZIndex(999);

            marker.addEventListener("click", function(e) {

                infowin.setContent(tgs_markers[indx].info);
                map.openInfoWindow(infowin, e.point);
            });

            map.addOverlay(marker);
            adj.push(marker);
        }) ();

        // plot upstream tgs
        for (var cid in up_down_stream) {
            // console.log("cid=", cid);

            var cpoint = new BMap.Point(tgsinfo[cid]['lng'], tgsinfo[cid]['lat']);

            (function() {
                var indx;
                for (var i in tgs_markers) {
                    if (tgs_markers[i].cid == cid) {
                        indx = i;
                    }
                }

                var marker = jQuery.extend(true,{},tgs_markers[indx].marker);
                marker.setIcon(new BMap.Icon("{{ url_for('static', filename='upstream.png') }}",
                                    new BMap.Size(28,28)));
                marker.setZIndex(999);

                marker.addEventListener("click", function(e) {

                    infowin.setContent(tgs_markers[indx].info);
                    map.openInfoWindow(infowin, e.point);
                });

                map.addOverlay(marker);
                adj.push(marker);
            }) ();

            // draw line
            var start = cpoint;
            var end = loc;
            var polyline = new BMap.Polyline([start,end], {
                strokeColor: "#EA0000",
                strokeOpacity: up_down_stream[cid],
                strokeWeight: 5.5,
                strokeStyle: "solid",
            });

            map.addOverlay(polyline);
            adj.push(polyline);
        }
    };

    $(document).ready(function() {
        $(".datetime-picker").datetimepicker({
            // showOn: "button",
            // buttonImage: "./css/images/icon_calendar.gif",
            // buttonImageOnly: true,
            showSecond: false,
            timeFormat: 'HH:mm:ss',
            stepHour: 1,
            stepMinute: 1,
            stepSecond: 1,
        });
    });

    $('#btn-submit').click(function(event) {

        $('#degree-select').hide();

        var timerange = $('#timerange').val();
        if (timerange.length == 0) {
            alert("时间为空！");
            return;
        }

        $.getJSON("/request-od-data",{'datetime':timerange,'od':od}, function(json) {
            // console.log(json.tgs);

            tgs = json.tgs;
            count = json.count;

            // console.log(count);

            $('#row1').animate({
                height: "330px",
                width: "100%"
            }, 800,"linear",function() {

                $('#btn-remove').show();
            });

            $('#tgs-chart').css("height","320px");
            $('#tgs-chart').css("width","100%");

            require.config({
                paths: {
                     echarts: "{{ url_for('static', filename='echarts-2.2.0/build/dist') }}"
                }
            });

            require(
                [
                    'echarts',
                    'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                    // 'echarts/chart/line'
                    // 'echarts/chart/scatter'
                ],
            draw_callback);

            // draw heatmap
            var hdata = [];
            var mcount = 0;
            for (var i=0; i<tgs.length; i++) {
                hdata.push({
                    'lng': tgsinfo[tgs[i]]['lng'],
                    'lat': tgsinfo[tgs[i]]['lat'],
                    'count': count[i]
                });

                if (count[i] > mcount)
                    mcount = count[i];
            }

            map.clearOverlays();
            n_markers = 0;

            // if (typeof(ol_heatmap) != "undefined")
            //     map.removeOverlay(ol_heatmap);

            // if (typeof(marker) != "undefined")
            //     map.removeOverlay(marker);

            ol_heatmap = new BMapLib.HeatmapOverlay({"radius":24});
            map.addOverlay(ol_heatmap);
            ol_heatmap.setDataSet({data:hdata, max:mcount+2});
            ol_heatmap.show();

            // set map style
            var  mapStyle = {
                features: ["road","building","water","land"],
                style : "light"  //
            };
            map.setMapStyle(mapStyle);
        });
    });

    $("#od-select input").on("change", function () {
        od = $(this).val();
        // console.log(od);
    });

    $("#tgs-select input").on("change", function () {

        // $(this).parent('label').addClass('active');

        var sel = $(this).val();

        if (sel == "tgs-all") {

            if (n_markers == tgs_markers.length)
                return;
            else if (n_markers == n_avail) {

                for (var i=0; i<tgs_markers.length; i++) {

                    if (tgs_markers[i].avail)
                        continue;

                    map.addOverlay(tgs_markers[i].marker);
                    // 闭包
                    (function() {
                        var indx = i;

                        tgs_markers[i].marker.addEventListener("click", function(e) {
                            // console.log(type,target);

                            infowin.setContent(tgs_markers[indx].info);
                            map.openInfoWindow(infowin, e.point);
                        });
                    }) ();
                }
            }
            else if (n_markers == n_unavail) {
                for (var i=0; i<tgs_markers.length; i++) {

                    if (!tgs_markers[i].avail)
                        continue;

                    map.addOverlay(tgs_markers[i].marker);
                    // 闭包
                    (function() {
                        var indx = i;

                        tgs_markers[i].marker.addEventListener("click", function(e) {
                            // console.log(type,target);

                            infowin.setContent(tgs_markers[indx].info);
                            map.openInfoWindow(infowin, e.point);
                        });
                    }) ();
                }
            }
            else {
                // add all marker
                for (var i=0; i<tgs_markers.length; i++) {
                    // console.log(tgs_markers[i].info);
                    //
                    map.addOverlay(tgs_markers[i].marker);
                    // 闭包
                    (function() {
                        var indx = i;

                        tgs_markers[i].marker.addEventListener("click", function(e) {
                            // console.log(type,target);

                            infowin.setContent(tgs_markers[indx].info);
                            map.openInfoWindow(infowin, e.point);
                        });
                    }) ();
                }
            }

            n_markers = tgs_markers.length;
        }
        else if (sel == "tgs-avail") {

            if (n_markers == tgs_markers.length) {

                for (var i=0; i<tgs_markers.length; i++) {
                    if (!tgs_markers[i].avail)
                        map.removeOverlay(tgs_markers[i].marker);
                }
            }
            else if (n_markers == n_unavail) {

                for (var i=0; i<tgs_markers.length; i++) {

                    if (!tgs_markers[i].avail) {
                        map.removeOverlay(tgs_markers[i].marker);
                        continue;
                    }

                    map.addOverlay(tgs_markers[i].marker);
                    // 闭包
                    (function() {
                        var indx = i;

                        tgs_markers[i].marker.addEventListener("click", function(e) {
                            // console.log(type,target);

                            infowin.setContent(tgs_markers[indx].info);
                            map.openInfoWindow(infowin, e.point);
                        });
                    }) ();
                }
            }
            else if (n_markers == 0) {

                for (var i=0; i<tgs_markers.length; i++) {

                    if (!tgs_markers[i].avail)
                        continue;

                    map.addOverlay(tgs_markers[i].marker);
                    // 闭包
                    (function() {
                        var indx = i;

                        tgs_markers[i].marker.addEventListener("click", function(e) {
                            // console.log(type,target);

                            infowin.setContent(tgs_markers[indx].info);
                            map.openInfoWindow(infowin, e.point);
                        });
                    }) ();
                }
            }

            n_markers = n_avail;
        }
        else if (sel == "tgs-unavail") {
            if (n_markers == tgs_markers.length) {

                for (var i=0; i<tgs_markers.length; i++) {
                    if (tgs_markers[i].avail)
                        map.removeOverlay(tgs_markers[i].marker);
                }
            }
            else if (n_markers == n_avail) {

                for (var i=0; i<tgs_markers.length; i++) {

                    if (tgs_markers[i].avail) {
                        map.removeOverlay(tgs_markers[i].marker);
                        continue;
                    }

                    map.addOverlay(tgs_markers[i].marker);
                    // 闭包
                    (function() {
                        var indx = i;

                        tgs_markers[i].marker.addEventListener("click", function(e) {
                            // console.log(type,target);

                            infowin.setContent(tgs_markers[indx].info);
                            map.openInfoWindow(infowin, e.point);
                        });
                    }) ();
                }
            }
            else if (n_markers == 0) {

                for (var i=0; i<tgs_markers.length; i++) {

                    if (tgs_markers[i].avail)
                        continue;

                    map.addOverlay(tgs_markers[i].marker);
                    // 闭包
                    (function() {
                        var indx = i;

                        tgs_markers[i].marker.addEventListener("click", function(e) {
                            // console.log(type,target);

                            infowin.setContent(tgs_markers[indx].info);
                            map.openInfoWindow(infowin, e.point);
                        });
                    }) ();
                }
            }

            n_markers = n_unavail;
        }

    });

    $('#query-vehicle').click(function() {

        // $('#tgs-select label').removeClass('active');

        if (typeof(adj)!= "undefined" && adj.length>0) {
            for (var i in adj) {
                // console.log(i);
                map.removeOverlay(adj[i]);
            }
        }

        cont = $('#input-numb').val().trim();
        if (cont == "") {
            console.log("null input!");
            return;
        }

        var dtype = 0;
        if ($('#degree-select').is(":visible")) {
            var val = $('#degree-select .active input').val();
            console.log(val);

            if (val == "indegree")
                dtype = 0;
            else
                dtype = 1;

        }

        $.getJSON("/query-tgs",{"numb":cont,"dtype":dtype}, function(json) {

            if (json.status == 1) {

                alert(json.msg);
                // $('#query-vehicle').popover({
                //     html: 'hello',
                // });
                // $('#query-vehicle').popover('toggle');
            }
            else if (json.status == 0) {
                $('#degree-select').show();

                console.log(tgsinfo[json.data.main]);

                map.clearOverlays();
                draw_adj(json.data.main, json.data.upstream);

            }
            else {
                console.log("null input!");
            }

            map.addControl(ctrl);
        });
    });

    $('#btn-clear').click(function() {

        map.clearOverlays();
        n_markers = 0;
        map.setMapStyle({style:"normal"});

        map.removeControl(ctrl);
    });

    // console.log(CN);

    var begtime = new Date(2015, 5, 1);
    var startTimestamp = new Date(2015, 5, 1).getTime()/1000;
    console.log(begtime);

    var parser = function(data) {
        // console.log(data);

        var stats = {};
        for (var i=0; i<data.length; i++) {
            stats[+data[i].Day*86400+startTimestamp] = +data[i].Counts;
        }

        // console.log(stats);

        return stats;
    };

    var cal = new CalHeatMap();
    cal.init({
        data: "{{ url_for('static', filename='datas-hours.csv') }}",
        dataType: "csv",
        itemSelector: "#cal-heatmap",
        start: begtime,
        afterLoadData: parser,
        domain: "month",
        domainGutter: 3,
        subDomain: "x_day",
        range: 2,
        cellSize: 20,
        // highlight: ["now"],
        subDomainDateFormat: function(date) {
            var format = d3.time.format("%m/%d, %a");
            return format(date); // Use the moment library to format the Date
        },
        domainLabelFormat: "%m月",
        legend: [1, 2, 3, 4, 5, 6],
        itemName: ["小时","小时"],
        legendTitleFormat: {
            lower: '<{min}{name}',
            inner: '[{down}, {up}){name}',
            upper: '>{max}{name}'
        },
        cellRadius: 2,
        cellPadding: 4,
        verticalOrientation: true,
        legendColors: {
            empty: "#ededed",
            min: "#40ffd8",
            max: "#f20013"
        },
        onClick: function(date, value) {
            var format = d3.time.format("%m/%d, %a");
            $("#placeholder").slideDown("slow");
            $("#placeholder").html(format(date)+":</br> 出行时长 <b>"+value+"</b> 小时.");
        },
        // legendColors: ["#ecf5e2", "#232181"],
        // subDomainTextFormat: "%d",
        tooltip: true,
    });
</script>
